<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.drma.quizdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MathOverview" />
        <activity android:name=".MathQuestion1" />
        <activity android:name=".MathAnswer1" />
        <activity android:name=".MathQuestion2" />
        <activity android:name=".MathAnswer2" />
        <activity android:name=".PhysicsOverview" />
        <activity android:name=".PhysicsQuestion1" />
        <activity android:name=".PhysicsAnswer1" />
        <activity android:name=".MarvelOverview" />
        <activity android:name=".MarvelQuestion1" />
        <activity android:name=".MarvelAnswer1" />
        <activity android:name=".Quiz"></activity>
    </application>

</manifest>